<%= stylesheet_link_tag "header" %>
<div class="nav-container">
    <div class="nav">
    <span><%= link_to "Home", root_path, class:"nav-op" %></span>
    <span><%= link_to "About", "/pages/about", class:"nav-op"%></span>
    <span><%= link_to "Projects", "/pages/projects",class:"nav-op" %></span>
    <span><%= link_to "Skills", "/pages/skills", class:"nav-op" %></span>
    <span><%= link_to "Education", "/pages/education", class:"nav-op" %></span>
    </div>
</div>